.scheme-label {
  color: #2C2C2C;
}

.sc-split-divider-view { background:#999;}
.sc-split-divider-view { border:0px none; }

.array-scroll-label { color:#000; }

.icon-loading-32 {
  width: 32;
  height: 32;
  background: no-repeat sc_static('images/loading.gif') left top;
}
