development:
  script_execution_host: https://addama-server
  script_execution_uri: https://addama-server/addama/tools
  api_key: 1234abcd-a12b-1234-abc1-123456abcdef

production:
  script_execution_host: https://addama-server
  script_execution_uri: https://addama-server/addama/tools
  api_key: 1234abcd-a12b-1234-abc1-123456abcdef
